@import 'reset.css';
@font-face {
  font-family: 'Eulyoo1945';
  src: url('/fonts/Eulyoo1945-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Eulyoo1945';
}

:root {
  /* colors */
  --black: #0a001a;
  --violet1: #8d4cf6;
  --violet2: #9d8aba;
  --violet3: #e0cdfc;
  --white: #f6f2ff;

  /* glows */
  --white-glow: 0px 0px 50px var(--white);
  --violet-glow16: 0px 0px 16px var(--violet3);
  --violet-glow50: 0px 0px 50px var(--violet3);

  /* font size */
  --large-font: 40px;
  --medium-font: 32px;
  --small-font: 24px;

  /* font weight */
  --regular-weight: 400;
  --semibold-weight: 600;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--black);
}

main {
  height: calc(100% - 116px);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  z-index: -100;
}

h1,
h2,
h3 {
  font-weight: var(--semibold-weight);
}

h1 {
  font-size: 48px;
  color: var(--violet3);
}

h2 {
  font-size: 46px;
  color: var(--white2);
}

h3 {
  font-size: 24px;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--violet2);
}

a.active {
  text-shadow: var(--violet-glow16);
  color: var(--violet3);
}

p {
  line-height: 1.6;
}
